<!-- MAIN TEMPLATE -->
<!doctype html>
<html class="no-js" lang="">
<head>
	<meta charset="utf-8">
	<title>{{ title }} - WHI Recordings</title>
	<meta name="description" content="New desc" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="apple-touch-icon" href="apple-touch-icon.png">
	<!-- Place favicon.ico in the root directory -->
	{# <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet"> #}
	<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link href="/assets/css/whi.css" rel="stylesheet">
	<style>
		p {
			margin-bottom: 1.6rem;
		}

		a {
			color: #aaa;
			text-decoration-line: underline;
			text-decoration-style: dotted;
			text-underline-position: under;
		}
	</style>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-135674-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());
	  gtag('config', 'UA-135674-3');
	</script>
</head>
<body>
	<div class="container mx-auto px-4">

	<header class="header">
		<div class="container">
			<a href="/"><img src="/assets/svg/whi-logo-v2-white.svg" alt="" class="" style="max-width:30%"></a>
		</div>
	</header>

	{% block content %}
		{{ content | safe }}
	{% endblock %}


<footer class="footer clearfix">
  <div class="container small">
		<p>&copy; WHI Recordings 2020</p>
    {# <a href="contact">Contact us</a> #}
  </div>
</footer>

</div>
</body>
</html>
