@import url("https://fonts.googleapis.com/css?family=Open+Sans|Raleway");
body {
  background: #222;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 19px;
  line-height: 1.4;
  margin: 0;
}

a, a:hover {
  color: inherit;
}

h1 {
  font-family: "Raleway", sans-serif;
}

.header {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.menu {
  list-style: none;
  padding-left: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.footer {
  margin-top: 12rem;
}
